* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Playfair Display", serif;
    overflow: hidden;
  }
  
  .wave {
    position: fixed;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
  }
  
  .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  
  .img img {
    width: 500px;
  }
  
  .avatar {
    width: 100px;
  }
  
  form h2 {
    font-size: 2.9rem;
    margin: 18px 0;
    color: #333;
  }
  
  .input-div {
    display: grid;
    grid-template-columns: 5% 93%;
    margin: 20px 0;
    padding: 5px 0;
  }
  
  .input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .input-div one {
    margin-bottom: 4px;
  }
  
  .i {
    /*아이콘*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i i {
    transition: 0.3s;
  }
  
  .input-div > div {
    position: relative;
    height: 45px;
  }
  
  .input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: 0.3s;
  }
  
  .input-div:before,
  .input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
  }
  
  .input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
  }
  
  a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  a:hover {
    color: #0b614b;
  }
  
  .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: none;
    color: #555;
    font-family: "Playfair Display", serif;
    background-size: 200%;
  }
  
  @media screen and (max-eidth: 1050px) {
    .container {
      grid-gap: 5rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    form {
      width: 290px;
    }
  
    form h2 {
      font-size: 2.4rem;
      margin: 8px 0;
    }
  
    .img img {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .img {
      display: none;
    }
  
    .container {
      grid-template-columns: 1fr;
    }
  
    .wave {
      display: none;
    }
  
    .login-container {
      justify-content: center;
    }
  }